@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

progress {
  /* Default styles */
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  /* Fully rounded */
  overflow: hidden;
  /* Ensures value part is also rounded */
  background-color: #e5e7eb;
  /* gray-200 */
}

progress::-webkit-progress-bar {
  background-color: #e5e7eb;
  /* gray-200 */
  border-radius: 9999px;
}

progress::-webkit-progress-value {
  background-color: #3b82f6;
  /* blue-500 */
  border-radius: 9999px;
  transition: width 0.3s ease;
  /* Smooth transition */
}

progress::-moz-progress-bar {
  background-color: #3b82f6;
  /* blue-500 */
  border-radius: 9999px;
}